# Bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
*.egg-info/

# Config / secrets
.env
*.db
*.sqlite3



# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
